$color_gray: #474747;
$color_text: #000;
$color_background: #fff;
$color-error: #be0505;



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  padding: 20px;
  @media (min-width: 768px) {
    padding: 40px;
  }
}

.container-form{
  max-width: 900px;
  margin: auto;
}

.step{

}

.fields{
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.field{
  margin: auto;
  margin-bottom: 30px;
  width: 100%;

  @media (min-width: 768px) {
    max-width: 500px;
    width: 45%;
  }
  .field-wrapper{
    position: relative;
  }

  &.field-error{
    input{
      color: $color-error;
    }
  }
}
label{
  display: block;
  cursor: text;
  font-weight: 400;
  font-size: .8rem;
  line-height: 1.25rem;
  letter-spacing: .03em;
  padding-top: 1px;
  padding-bottom: 4px;
  color: $color_gray;
}

input, textarea, select  {
  outline: none;
  background: none;
  width: 100%;
  height: 36px;
  padding: 0;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
  color: $color_text;
  border: 1px solid $color_gray;
  border-width: 0 0 1px 0;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px $color_background inset !important;
  -webkit-text-fill-color: $color_text;
  transition: background-color 5000s ease-in-out 0s;
}

.input_bottom_line{
  display: block;
  height: 1px;
  width: 0;
  position: absolute;
  background: $color_text;
  bottom: 0;
  left: 0;
  transition: .25s;
}
input:focus+.input_bottom_line{
  width: 100%;
}

.message-error{
  height: 20px;
  font-size: .8rem;
  color: $color-error;
}


button {
  display: block;
  width: 200px;
  background: none;
  position: relative;
  margin: 10px auto;
  padding: 10px 20px;
  height: 36px;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1rem;
  color: $color_background;
  background-color: $color_gray;
  border: 0 none;
  border-radius: 15px;
  transition: .4s ease-out;

  &:hover{
    background-color: $color_text;
    cursor: pointer;
  }

  &:focus{
    outline: none;
  }
}



.input-values{
@media (min-width: 768px) {
  max-width: 500px;
  margin: 40px auto;
}
}
.input-value{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
